* {
  box-sizing: border-box;
  color: #C1C1C1;
}

a {
  text-decoration: none;
  font-size: 18px;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1350px;
  margin: auto;
}

body {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  background-color: #222222;
}

.active{
  color: #ae7933;
}